.page__footer {
	margin: 0px 200px 0px;
}

@media screen and (max-width: 1179px) {
   .page__footer {
      margin: 0px 150px 0px;
   }
}

@media screen and (max-width: 1023px) {
   .page__footer {
      margin: 0px 100px 0px;
   }
}

@media screen and (max-width: 767px) {
   .page__footer {
      margin: 0px 19px 0px;
   }
}