.profile__text-interests {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  grid-area: text;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .profile__text-interests {
    text-align: start;
    font-size: 18px;
    line-height: 1.22;
  }
}
