.profile__wrap-avatar {
  display: block;
  position: relative;
  border-radius: 100%;
}

.profile__wrap-avatar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .5s ease;
}

.profile__wrap-avatar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:url(../../../images/profile_edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  z-index: 1;
  transition: opacity .5s ease;

}

.profile__wrap-avatar:hover::before {
  opacity: 1;
}

.profile__wrap-avatar:hover::after {
  opacity: 1;
}
