.profile__btn-add {
  background-image: url(../../../images/btn_add.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 282px;
  height: 50px;
  border: 2px solid #FFFFFF;
  transition: opacity .3s ease;
  grid-area: btn-save;
  align-self: end;
  justify-self: center;
}

.profile__btn-add:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .profile__btn-add {
    background-image: url(../../../images/btn_add_desktop.svg);
    width: 150px;
    align-self: center;
    justify-self: end;
  }
}
