.header__logo {
  margin-left: 8.43vw;
  width: 104px;
  height: 24px;
  transition: opacity .3s ease;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
  }
}

.header__logo:hover {
  cursor: pointer;
  opacity: .8;
}
